.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark-color);
}

.footer__container {
  
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @include media(1200px) {
    display: flex;
    align-items: center;
  }
}

.footer__tablet {
  @include media(768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer__wrap {
  margin-bottom: 60px;

  @include media(1200px) {
    margin-right: 70px;
  }
}

.footer__list {
  @include media(1200px) {
    gap: 9px;
  }
}

.footer__address {
  margin-top: 20px;

  font-style: normal;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white-color);

  transition: color var(--transition-time) var(--transition-function);

  &.cont {
    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__wrap--right {
  @include media(1200px) {
    margin-right: 93px;
  }
}

.footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
