.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.secondary-black {
  color: var(--secondary-black-color);
}

.main-white {
  color: var(--main-white-color);
}