:root {
  --main-gap: 30px;
  --main-dark-color: #212121;
  --main-white-color: #ffff;
  --accent-color: #2196f3;  
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --secondary-gray-color: #757575; 
  --secondary-black-color: #000000;
  --background-dark-color: #2f303a;
  --background-gray-color: #c4c4c4;
  --background-light-color: #f5f4fa;
  --background-blue-color: #188ce8;
  --icon-gray-color: #afb1b8;
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}